h1,h2 {
    text-align: center;
    font-family: "Sora", sans-serif;
}

h2 {
  border: 5px solid black;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e3dff2;
}

table {
    margin: auto;
    border: 5px solid black;
    width: 600px;
    height: 600px;
    border-spacing: 0px;
    border-radius: 10px;
}

td {
    width: 33.33%;
    height: 33.33%;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 3px 0px 0 black;
    overflow: hidden;
}

.game-cells {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: white;
}

.state-buttons {
  margin: auto;
  width: 600px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.state-buttons button {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  width: 80px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 0 black;
  background-color: #C4A1ff;
  cursor: pointer;
}

.state-buttons button:active {
  transform: translateY(2px); /* Simulate a press-down effect */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1); /* Reduced shadow when active */
}


.cross-icon {
  position: relative; /* Essential for positioning pseudo-elements */
  pointer-events: none;
}

.cross-icon::before,
.cross-icon::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  background-color: #333; /* Color of the cross */
  width: 100%; /* Make lines span the width of the parent */
  height: 5px; /* Thickness of the lines */
  top: 50%; /* Center vertically */
  left: 0; /* Align to the left */
  transform-origin: center; /* Ensure rotation is from the center */
}

.cross-icon::before {
  transform: translateY(-50%) rotate(45deg); 
}

.cross-icon::after {
  transform: translateY(-50%) rotate(-45deg); 
}

.circle {
  width: 80%;
  height: 80%;
  margin: auto;
  border: 5px solid black;
  border-radius: 50%;
  pointer-events: none;
  background-color: #FFB2EF;
}